#button_encrypt{
    /* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
gap: 8px;

width: 50%;
height: 20%;

/* Dark blue/dark-blue-300 */
background: #0A3871;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

width: 50%;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;

}

#button_desencrypt{
    /* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
gap: 8px;

width: 50%;
height: 20%;

/* Light gray */
background: #D8DFE8;
/* Dark blue/dark-blue-300 */
border: 1px solid #0A3871;
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Button */

width: 50%;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

/* Dark blue/dark-blue-300 */
color: #0A3871;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;

}